/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* commons */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* layout */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 10px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.col {
  width: calc(100% / 3);
  padding: 10px;
}
